name: Construir e Publicar Imagem

on:
  push:
    branches:
      - main
      - feat/delete-livros
  pull_request:
    branches:
      - main

jobs:
  # 1️⃣ Job de Testes
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Adicionar projeto ao PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes
        run: |
          pytest --maxfail=1 --disable-warnings -q

  # 2️⃣ Job de Build da Imagem (só constrói)
  build:
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Build da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          load: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/minha-biblioteca-api:latest

  # 3️⃣ Job de Publicação (faz login e envia pro Docker Hub)
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build e Push da Imagem Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/minha-biblioteca-api:latest
